useDynLib(STAR)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
importFrom("matrixcalc","is.positive.definite")
import("Matrix")
import("mvtnorm")
import("truncnorm")
import("MCMCpack")
exportClasses("STAR")
exportClasses("summary.STAR")